.Content{
 color: rgb(252, 249, 249);
}
 .Top-content{
    position: absolute;
    top: 200px;
    right: 10px;
 }
 .btn2{
    background-color: rgb(234, 100, 73);
    padding: 5px 13px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: 200px;
    font-size: 20px;
 }
 .btn2:hover{
   background-color: transparent;
   color: white;
   border-color: white;
 }
 .btn3{
   color: rgb(254, 255, 255);
   border-color: white;
   font-size: 19px;
    background-color: transparent;
    padding: 5px 13px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: 200px
    
 }
 .Aboutpage{
    position: absolute;
    left: 100px;
    float: left;
    top: 500px;

 }