.skillContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;

}
.skill-text{
    color: white;
    flex: 0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;
    font-weight: 20px;
}
.skill-text h2 {
    font-size: 30px;
    padding-bottom: 20px;
}
.skillContainer-image{
    flex: 0.4;
    text-align: center;
    margin-left:100px ;
}
.skillContainer-image img{
    max-width: 600px;
    border-radius: 3px;
     object-fit: contain;
     margin-right: 50px;
}

.skill-set h5{
padding-top: 2px;
}

